.image {
   position: relative;
   width: 100%; /* for IE 6 */
}

.box {
   position: relative;
   width: 100%; /* for IE 6 */
}

.myH2 {
  position:absolute;
  top: 12.25em;
  left: 0.25em;
  width: 40%;
  height: 30%;
  color: white;
  background-color: rgba( 120, 120, 120, 0.65);
  font-size: 24px;
}

h2 {
   position:absolute;
   top: 7.25em;
   left: 0.25em;
   width: 80%;
   color: white;
   background-color: rgba( 120, 120, 120, 0.65);
   font-size: 18px;
}

body {
  background-color: rgb(220,220,220);
}

.navbar-brand {
    color: black !important;
}

.navbar li a {
  color: black !important;
}

.navbar {
    background-color: rgb(200,200,200);
}

span.wrap {
    word-wrap: break-word;
}
