{{outlet}}

{{index-carousel headlines=model.headlines}}

<div class="container">
    {{#each model.stories as |story|}}
    <div class="col-xs-4">
      {{index-news-stories story=story}}
    </div>
    {{/each}}
</div>
